{% extends "base.html" %} {% block content %}
<h2>{{ book.title }}</h2>
{% if book.image %}
    <img src="{{ book.image.url }}" alt="Cover image of {{ book.title }}">
{% endif %}
<p>{{ book.description }}</p>
<ul>
    {% for review in reviews %}
        <li>{{ review.headline }}: {{ review.body }}</li>
        {% empty %}
            <li>No reviews available.</li>
    {% endfor %}
</ul>
<a href="{% url 'review_create' book.id %}">Add Review</a>
<a href="{% url 'home' %}">Return to home</a>
{% endblock content %}