{% extends "base.html" %}

{% block content %}
<div class="page-wrapper">
{% if user.is_authenticated %}
	{% if feed == 'following' %}
		{% include "reviews/partials/following_feed.html" with reviews=following_reviews %}
		<a href="?feed=recent" class="feed-switch-link">See all recent reviews</a>
	{% elif feed == 'recent' %}
		{% include "reviews/partials/recent_feed.html" with reviews=recent_reviews %}
		<a href="?feed=following" class="feed-switch-link">See reviews by users you follow</a>
	{% endif %}
{% else %}
	{% include "reviews/partials/recent_feed.html" with reviews=recent_reviews %}
{% endif %}
</div>
{% endblock content %}