{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
	<div style="margin: 1em 0;">
		<a href="?feed=following">Following</a>
		<a href="?feed=trending">Trending</a>
	</div>
	{% if feed == 'following' %}
		{% include "reviews/partials/following_feed.html" with reviews=following_reviews %}
	{% elif feed == 'trending' %}
		{% include "reviews/partials/trending_feed.html" with reviews=trending_reviews %}
	{% endif %}
{% else %}
	<h2>Trending Reviews</h2>
	{% include "reviews/partials/trending_feed.html" with reviews=trending_reviews %}
{% endif %}
{% endblock content %}