{% if reviews %}
    <ul>
    {% for review in reviews %}
        <li>
            <strong><a href="{% url 'book_detail' review.book.id %}#review-{{ review.id }}">{{ review.headline }}</a></strong> by <a href="{% url 'user_profile' review.user.username %}">{{ review.user.full_name }}</a><br>
            Book: {{ review.book.title }}<br>
            Rating: {{ review.rating }}<br>
            {{ review.body|linebreaksbr }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reviews from users you follow yet.</p>
{% endif %}